#scrambleSet {
  display: block;
  font-size: 1.5rem;
  border: 1px solid;
  width: fit-content;
  padding: 1rem;
  margin: 2rem auto;
}

html {
  --green: #009b48;
  --white: #ffffff;
  --red: #b71234;
  --yellow: #ffd500;
  --blue: #0046ad;
  --orange: #ff5800;
  --handsYellow: #ffff00;
  --handsDarkYellow: #C6C600;
  --handsRed: #ff0000;
  --handsDarkRed: #9B0000;
  --handsGreen: #008000;
  --handsDarkGreen: #004100;
}

.dark {
  --handsYellow: #C6C600;
  --handsRed: #9B0000;
  --handsGreen: #004100;
}

.fadeOutAnimation {
  animation: fadeOut ease 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

.fadeInAnimation {
  animation: fadeIn ease 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.fadeInBackground {
  animation: fadeIn30 ease 0.25s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeIn30 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

.scramble {
  width: 100%;
  text-align: center;
}

.stopwatch {
  width: 100%;
  text-align: center;
}

.stopwatch h2 {
  text-align: left;
  position: relative;
  font-size: 7rem;
  font-weight: normal;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 19rem;
}

.timer {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.hands {
  display: inline-block;
  background-color: var(--handsYellow);
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  text-align: center;
  margin: 1.5rem;
  cursor: pointer;
}

.hands img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  vertical-align: top;
}

#rightHand {
  transform: scaleX(-1);
}

.help {
  position: absolute;
  left: 50%;
  transform: translate(-172%, 0.5rem);
  padding: 0.5rem 1rem;
  background-color: var(--buttonColor);
  border-radius: 0.6rem;
  width: fit-content;
}

.help img {
  height: 0.8rem;
}

.help p {
  margin-top: 0;
}

.dark .help {
  color: black;
}

.dark .help a {
  color: #4949FC;
}

.arrowUp {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -120%);
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-bottom: 2rem solid var(--buttonColor);
}

.cube {
  display: inline-grid;
  grid-template-areas:
    '. top . .'
    'left front right back'
    '. bottom . .';
  width: fit-content;
  border: 1px solid;
  margin: 0 3rem;
}

#uplayer {
  grid-area: top;
}

#leftlayer {
  grid-area: left;
}

#frontlayer {
  grid-area: front;
}

#rightlayer {
  grid-area: right;
}

#downlayer {
  grid-area: bottom;
}

#backlayer {
  grid-area: back;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  padding: 0.2rem;
}

.grid-item {
  content: "";
  background-color: red(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.stopwatch h3 {
  font-size: 1.5rem;
}

.stopwatch h4 {
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

#timeHeader {
  width: 40rem;
}

#statHeader {
  width: 20rem;
}

.infoBox {
  position: relative;
  width: 100%;
}

.infoBox div {
  font-size: 1.1rem;
  text-align: left;
  display: inline-block;
  height: 15rem;
  overflow-x: hidden;
  border: 1px solid;
}

button {
  font-size: 1rem;
  border: none;
  background-color: var(--buttonColor);
  padding: 0.3rem;
  border-radius: 0.6rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--hoverColor);
}

.times {
  width: 40rem;
  overflow-y: scroll;
}

.times button {
  margin-left: 85%;
  margin-top: 0.5rem;
}

.times img {
  height: 1rem;
  vertical-align: middle;
}

.times ul {
  list-style: none;
  padding: 0;
  margin-top: -1.7rem;
}

.times li {
  border-bottom: 1px solid;
  padding: 0.5rem;
}

.stats {
  overflow-y: hidden;
  width: 20rem;
}

.stats p {
  margin: 1rem;
}

.stats button {
  margin-left: 1rem;
}

.background {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: black;
  opacity: 0.6;
}

.popUp {
  position: fixed;
  display: block;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 2rem;
  border-radius: 0.6rem;
}

.dark .popUp {
  background-color: #26262C;
}

.popUp .buttons {
  width: 100%;
  text-align: center;
}

#timerSound {
  accent-color: var(--buttonColor);
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  float: right;
}

.popUp h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.popUp label {
  margin-right: 1rem;
  font-size: 1rem;
}

.popUp button {
  margin: 0 0.5rem;
}

.popUp input,
select {
  font-size: 1rem;
}

#settings input, select {
  float: right;
}

.popUp img {
  height: 1.5rem;
  vertical-align: middle;
}

#note {
  font-size: 0.8rem;
}
#submitShare {
  float: right;
}

#closeButton {
  text-align: right;
}

.hidden {
  display: none;
}