html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
}

.container div {
    display: inline-block;
    height: 70dvh;
    overflow-x: hidden;
    border: 1px solid;
    margin: 3rem;
}

.chapter {
    overflow-y: hidden;
    width: 15dvw;
}

.chapter h2 {
    text-align: center;
}

.chapter ul {
    padding: 0;
}

.chapter li {
    width: 100%;
    text-align: left;
    list-style: none;
    transition: 0.2s;
}

.chapter li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 1rem;
    color: inherit;
}

.dark .license a {
    color: #4949FC;
}
.chapter li:hover {
    background-color: var(--buttonColor);
}

.content {
    width: 70dvw;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.content h3, p {
    padding: 1rem;
    text-align: left;
}

.content hr{
    border-color: var(--buttonColor);
    opacity: 0.2;
}

.content li {
    list-style: circle;
}

