.scoreboard {
    display: block;
    height: 75dvh;
    width: fit-content;
    min-width: 30rem;
    position: relative;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid;
    padding: 1rem;
    padding-bottom: 0;
}

.scoreboard {
    background-color: var(--buttonColor);
}

.scoreboard h2 {
    text-align: center;
    color: black;
}

.list {
    border: 1px solid;
    overflow-y: auto;
    overflow-x: auto;
    height: 60dvh;
    background-color: white;
}

.dark .list {
    background-color: #26262C;
}

.list table {
    padding: 0;
    margin: 0;
    background-color: white;
}

.list th {
    position: sticky;
    top: 0;
    background-color: white;
}

.dark .list th {
    background-color: #26262C;
}

.dark table {
    background-color: #26262C;
}


.list td, th {
    border: 1px solid;
    padding: 1rem;
}

.list ol li p {
    margin: 0;
}

button {
    border: 1px solid;
    margin-top: 0.5rem;
    float: right;
}

@media only screen and (max-width: 600px) {
    .scoreboard {
        margin-top: 1rem;
        width: 90%;
        min-width: 0;
    }
}