html {
  font-size: 18px;
}


.header {
  margin: 2rem;
}

.header h1 {
  font-size: 2rem;
  display: inline;
}

#home {
  margin: 1rem;
  margin-left: 2rem;
}

.rightMenu {
  margin: 1rem;
  float: right;
}

.rightMenu a {
  margin-left: 2rem;
}


#scrambleset {
  font-size: 1.5rem;
}

.scramble {
  width: 100%;
  text-align: center;
}

.stopwatch {
  width: 100%;
  text-align: center;
}

.stopwatch h2 {
  font-size: 7rem;
  font-weight: normal;
  margin: 0;
}

.timer {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.hands {
  display: inline-block;
  background-color: yellow;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  text-align: center;
  margin: 30px;
}

.cube {
  display: inline-grid;
  grid-template-areas:
    '. top . .'
    'left front right back'
    '. bottom . .';
  width: fit-content;
  border: 1px solid black;
}

#uplayer {
  grid-area: top;
}

#leftlayer {
  grid-area: left;
}

#frontlayer {
  grid-area: front;
}

#rightlayer {
  grid-area: right;
}

#downlayer {
  grid-area: bottom;
}

#backlayer {
  grid-area: back;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: fit-content;
  padding: 3px;
}


.grid-item {
  content: "";
  background-color: red(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 2rem;
  height: 2rem;
}

.stopwatch h4{
  display: inline-block;
  margin-bottom: 0.5rem;
}

#timeHeader{
  width: 35rem;
}

#statHeader{
  width: 20rem;
}

.infoBox{
  position: relative;
  width: 100%;
}

.infoBox div{
  text-align: left;
  display: inline-block;
  height: 15rem;
  overflow-x: hidden;
  border: 1px solid black;
}

.times{
  width: 35rem;
  overflow-y: scroll;
}

.times button{
  margin-left: 86%;
  margin-top: 0.5rem;
}

.times ul{
  list-style: none;
  padding: 0;
  margin-top: -1.7rem;
}

.times li {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.stats{
  overflow-y: hidden;
  width: 20rem;
}

.stats p{
  margin: 1rem;
}

.stats button{
  margin-left: 1rem;
}


.background{
  position: fixed;
  left: 0;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: black;
  opacity: 0.6;
}
.popUp{
  position: fixed;
  display: block;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  padding: 2rem;
}


.popUp h1{
  text-align: center;
  margin-bottom: 3rem;
}

.popUp label{
  margin-right: 1rem;
}

.popUp button{
  margin: 0 0.5rem;
}

#closeButton{
  text-align: right;
}

.hidden{
  display: none;
}